<div style="margin:50px auto;width:650px;padding:20px 0">
  <div style="border-bottom:1px solid #eee">
    <a style="font-size:1.4em;color:#00466a;text-decoration:none;font-weight:600">WebApp</a>
  </div>

  <p style="font-size:1.1em">Hi {{ username }},</p>
  <p>We received a password reset request for your account.<br>
  You can click the following link to proceed.</p>

  <a href="{{ reset_url }}">{{ reset_url }}</a>

  <p style="font-size:0.9em">Regards,<br>WebApp</p>
  <hr style="border:none;border-top:1px solid #eee">
</div>
